In [1]:
import pandas as pd

In [8]:
df=pd.read_csv('new-site.csv', sep='\t')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        300 non-null    int64
 1   dwell-time  300 non-null    int64
dtypes: int64(2)
memory usage: 4.8 KB

In [9]:
df.head()

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38

In [11]:
df['dwell-time'].sum()

26930

In [14]:
grouped = df.groupby('site', as_index=False).agg(count=('dwell-time', 'sum'))
grouped

   site  count
0     0  16898
1     1  10032

In [15]:
grouped = df.groupby('site', as_index=False).agg(count=('dwell-time', 'mean'))
grouped

   site      count
0     0  90.849462
1     1  88.000000

In [16]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'

In [17]:
alpha = 0.05

In [18]:
import pandas as pd #для работы с таблицами
import numpy as np
from scipy.stats import shapiro
from sklearn import preprocessing

In [21]:
#сделаем тест для каждой из двух выборок.
_, p = shapiro(df['site'])
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.000
Данные не распределены нормально (мы отвергаем H0)