In [1]:
import pandas as pd
solar_data = pd.read_csv('data/solarpower.csv')
solar_data.head()

         date  cum_power
0  2017-01-01    20111.0
1  2017-01-02    20112.0
2  2017-01-03    20115.0
3  2017-01-04    20117.0
4  2017-01-05    20119.0

In [4]:
solar_data_copy = solar_data.copy()
solar_data_copy['cum_power'] = solar_data_copy['cum_power'].apply(lambda x: ((x-1)+(x+1)/2) if x== -1 else x)
print(round(solar_data_copy['cum_power'].mean()))

23776

In [ ]:
solar_data['day_power']