In [1]:
import pandas as pd

citibike_data = pd.read_csv('C:/Users/админ/Desktop/IDE/SKILLFACTORY/PYTHON11/DATA/citibike-tripdata.csv', sep=',')

Датасет представляет собой таблицу с информацией о 300 тысячах поездок за первые пять дней сентября 2018 года и включает в себя следующую информацию:

starttime — время начала поездки (дата, время);
stoptime — время окончания поездки (дата, время);
start station id — идентификатор стартовой стоянки;
start station name — название стартовой стоянки;
start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;
end station id — идентификатор конечной стоянки;
end station name — название конечной стоянки;
end station latitude, end station longitude — географическая широта и долгота конечной стоянки;
bikeid — идентификатор велосипеда;
usertype — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);
birth year — год рождения клиента;
gender — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).

In [2]:
citibike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

Найдите идентификатор самой популярной стартовой стоянки. Запишите идентификатор в виде целого числа.

In [4]:
citibike_data['start station id'].mode()

0    281.0
Name: start station id, dtype: float64

Велосипед с каким идентификатором является самым популярным?

In [5]:
citibike_data['bikeid'].mode()

0    33887
Name: bikeid, dtype: int64

Какой тип клиентов (столбец usertype) является преобладающим — Subscriber или Customer? В качестве ответа запишите долю клиентов преобладающего типа среди общего количества клиентов. Ответ округлите до сотых.

In [6]:
citibike_data['usertype'].value_counts(normalize=True)

Subscriber    0.774007
Customer      0.225993
Name: usertype, dtype: float64

In [14]:
mode_usertype = citibike_data['usertype'].mode()[0]
count_mode_user = citibike_data[citibike_data['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / citibike_data.shape[0], 2))

0.77

Кто больше занимается велоспортом — мужчины или женщины? В ответ запишите число поездок для той группы, у которой их больше.

In [9]:
citibike_data['gender'].mode()

0    1
Name: gender, dtype: int64

In [11]:


male_count = citibike_data[citibike_data['gender'] == 1].shape[0]
female_count = citibike_data[citibike_data['gender'] == 0].shape[0]
print(max([male_count, female_count]))

183582

Число уникальных стартовых и конечных стоянок, которыми воспользовались клиенты, не равны друг другу

In [20]:
start_station = citibike_data['start station name'].nunique()
end_station = citibike_data['end station name'].nunique()
if start_station != end_station:
    print('True')
else:
    print('False')

True

В рассматриваемые дни минимальный возраст клиента составлял 10 лет

In [31]:
citibike_data['birth year'].max()

2002

Самой непопулярной стартовой стоянкой из тех, которыми воспользовались клиенты, является стоянка с названием "Eastern Pkwy & Washington Ave"

In [36]:
citibike_data['start station name'].value_counts(normalize=True)

Grand Army Plaza & Central Park S    0.006430
Central Park S & 6 Ave               0.006367
Pershing Square North                0.006247
12 Ave & W 40 St                     0.006153
West St & Chambers St                0.006120
                                       ...
NYCBS Depot - GOW                    0.000050
Franklin Ave & Empire Blvd           0.000037
Railroad Ave & Kay Ave               0.000030
47 Ave & Skillman Ave                0.000023
Eastern Pkwy & Washington Ave        0.000020
Name: start station name, Length: 759, dtype: float64

Наибольшее количество поездок завершается на стоянке под названием "Liberty Light Rail"

In [30]:
citibike_data['end station name'].mode()

0    West St & Chambers St
Name: end station name, dtype: object

В первую очередь удалим лишнюю информацию из данных.
В наших данных присутствуют столбцы, которые дублируют информацию друг о друге: это столбцы с идентификатором и названием стартовой и конечной стоянки. Удалите признаки идентификаторов стоянок. Сколько столбцов осталось?

In [46]:
citibike_dt = citibike_data.copy()
citibike_dt.head()

,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,252.0,MacDougal St & Washington Sq,40.732264,-73.998522,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,314.0,Cadman Plaza West & Montague St,40.693830,-73.990539,3242.0,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,3142.0,1 Ave & E 62 St,40.761227,-73.960940,3384.0,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,308.0,St James Pl & Oliver St,40.713079,-73.998512,3690.0,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,345.0,W 13 St & 6 Ave,40.736494,-73.997044,380.0,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

In [47]:
citibike_dt.drop(['start station id', 'end station id'], axis=1, inplace=True)
print(citibike_dt.shape[1])

12

In [48]:
citibike_dt.head(5)

,starttime,stoptime,start station name,start station latitude,start station longitude,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2018-09-01 00:00:05.2690,2018-09-01 00:27:20.6340,MacDougal St & Washington Sq,40.732264,-73.998522,Clinton Ave & Myrtle Ave,40.693261,-73.968896,25577,Subscriber,1980,1
1,2018-09-01 00:00:11.2810,2018-09-01 00:02:23.4810,Cadman Plaza West & Montague St,40.693830,-73.990539,Schermerhorn St & Court St,40.691029,-73.991834,34377,Subscriber,1969,0
2,2018-09-01 00:00:20.6490,2018-09-01 00:55:58.5470,1 Ave & E 62 St,40.761227,-73.960940,Smith St & 3 St,40.678724,-73.995991,30496,Subscriber,1975,1
3,2018-09-01 00:00:21.7460,2018-09-01 00:07:38.5830,St James Pl & Oliver St,40.713079,-73.998512,Park Pl & Church St,40.713342,-74.009355,28866,Subscriber,1984,2
4,2018-09-01 00:00:27.3150,2018-09-01 02:21:25.3080,W 13 St & 6 Ave,40.736494,-73.997044,W 4 St & 7 Ave S,40.734011,-74.002939,20943,Customer,1994,1

Замените признак birth year на более понятный признак возраста клиента age. Годом отсчёта возраста выберите 2018 год. Столбец birth year удалите из таблицы. Сколько поездок совершено клиентами старше 60 лет?

In [49]:
citibike_dt['age'] = 2018 - citibike_dt['birth year']
citibike_dt.drop(['birth year'], axis=1, inplace=True)
print(citibike_dt[citibike_dt['age'] > 60].shape[0])

11837

Создайте признак длительности поездки trip duration. Для этого вычислите интервал времени между временем окончания поездки (stoptime) и её началом (starttime). Сколько целых минут длилась поездка под индексом 3 в таблице?

In [52]:
citibike_dt['starttime'] = pd.to_datetime(citibike_dt['starttime'])
citibike_dt['stoptime'] = pd.to_datetime(citibike_dt['stoptime'])
citibike_dt['trip duration'] = (citibike_dt['stoptime'] - citibike_dt['starttime'])
print(citibike_dt.loc[3, 'trip duration'])

0 days 00:07:16.837000

Создайте «признак-мигалку» weekend, который равен 1, если поездка начиналась в выходной день (суббота или воскресенье), и 0 — в противном случае. Выясните, сколько поездок начиналось в выходные.

In [53]:
weekday = citibike_dt['starttime'].dt.dayofweek
citibike_dt['weekend'] = weekday.apply(lambda x: 1 if x ==5 or x == 6 else 0)
citibike_dt['weekend'].sum()

115135

Создайте признак времени суток поездки time_of_day. Время суток будем определять из часа начала поездки. Условимся, что:
поездка совершается ночью (night), если её час приходится на интервал от 0 (включительно) до 6 (включительно) часов;
поездка совершается утром (morning), если её час приходится на интервал от 6 (не включительно) до 12 (включительно) часов;
поездка совершается днём (day), если её час приходится на интервал от 12 (не включительно) до 18 (включительно) часов;
поездка совершается вечером (evening), если её час приходится на интервал от 18 (не включительно) до 23 часов (включительно).
Во сколько раз количество поездок, совершённых днём, больше, чем количество поездок, совёршенных ночью, за представленный в данных период времени? Ответ округлите до целых.

In [55]:
def get_time_of_day(time):
    if 0 <= time <= 6:
        return 'night'
    elif 6 < time <= 12:
        return 'morning'
    elif 12 < time <= 18:
        return 'day'
    else:
        return 'evening'
citibike_dt['time_of_day'] =citibike_dt['starttime'].dt.hour.apply(get_time_of_day)
a = citibike_dt[citibike_dt['time_of_day'] == 'day'].shape[0]
b = citibike_dt[citibike_dt['time_of_day'] == 'night'].shape[0]
print(round(a/b))

9