In [2]:
import pandas as pd
ufo_data = pd.read_csv('C:/Users/админ/Desktop/IDE/SKILLFACTORY/PYTHON11/DATA/ufo.csv', sep=',')

Вам представлены данные (в формате csv) об отчётах очевидцев НЛО в США за период с 1930 по 2020 год.

В данных есть следующие признаки:

"City" — город, где был замечен НЛО;
"Colors Reported" — цвет объекта;
"Shape Reported" — форма объекта;
"State" — обозначение штата;
"Time" — время, когда был замечен НЛО (данные отсортированы от старых наблюдений к новым). 
Прочитайте данные, сделайте преобразование времени к формату datetime и выполните задания ниже.

In [3]:
ufo_data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [6]:
display(ufo_data['Time'])

0          6/1/1930 22:00
1         6/30/1930 20:00
2         2/15/1931 14:00
3          6/1/1931 13:00
4         4/18/1933 19:00
               ...
18236    12/31/2000 23:00
18237    12/31/2000 23:00
18238    12/31/2000 23:45
18239    12/31/2000 23:45
18240    12/31/2000 23:59
Name: Time, Length: 18241, dtype: object

In [9]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'])
display(ufo_data['Time'])

0       1930-06-01 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-06-01 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

В каком году отмечается наибольшее количество случаев наблюдения НЛО в США?

In [13]:
ufo_data['Time'].mode()

0   1999-11-16 19:00:00
Name: Time, dtype: datetime64[ns]

Найдите средний интервал времени (в днях) между двумя последовательными случаями наблюдения НЛО в штате Невада (NV).
Чтобы выделить дату из столбца Time, можно воспользоваться атрибутом datetime date.

Чтобы вычислить разницу между двумя соседними датами в столбце, примените к нему метод diff().

Чтобы перевести интервал времени в дни, воспользуйтесь атрибутом timedelta days.

In [16]:
ufo_data['Date'] = ufo_data['Time'].dt.date
print(round(ufo_data[ufo_data['State']=='NV']['Date'].diff().dt.days.mean()))

69